body{
    background-color: #c7c7c7;
    margin-left: 30px;
}

div{
    margin-left: 30px;
}

#connectPy{
    color: green;
}

#status{
    color: red;
}
#buttonOneOn{
    color: green;
}

#buttonOneOff{
    color:red;
}

#buttonTwoOn{
    color: green;
}

#buttonTwoOff{
    color: red;
}

#kill{
    color:red;
    margin-left: 10px;
}

#burn{
    color:red;
    margin-left: 10px;
}